

.color-green2 {
    color: #429B45;
}

.color-green3 {
    color: #4caf50;
}


/*

XXX: for higher resolution devices, could use the large size image
     which is the image that has the width/height returned by news & event models
     (so should probably remove that code or adapt it to return medium & large images paths & sizes)

*/
.medium-image {
    width: 100%;
    max-width: 480px;
}
